.navButton {
    padding: 15px 50px;
    font-size: 19px;
    color: rgba(27, 55, 100, 1);
    font-family: "Cardo", sans-serif;
    background-color: rgba(255, 202, 66, 1);
    border: 2px;
    cursor: pointer;
}
  